.contacto_container{
    background-color: var(--bluecolor_fondo_claro);
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.contacto_mensaje_container {
	width: 400px;
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.contacto_mensaje_titulo{
    font-family: var(--font);
    font-weight: 600;
    margin: 5px 0;
}

.contacto_menu {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 10px;
}

.contacto_input_container{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid var(--blue-color);
}

.contacto_info{
    font-family: var(--font);
    font-size: 12px;
    color: var(--placeholder);
}

.contacto_input{
    border: none;
    outline-style: none;
    margin: 4px 0;
    font-family: var(--font);
    font-size: 14px;
}

.input-mensaje{
    height: 5rem;
    resize: none;
}

.contacto_boton_enviar{
    width: 50%;
    margin: 5px 0px;
    padding: 10px 0;
    background-color: var(--blue-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: var(--font);
	font-weight: 500;
    transition: all 300ms;
}

.contacto_menu_link{
    text-decoration: none;
    font-family: var(--font);
    font-size: 14px;
    color: var(--bluecolor_oscuro);
}

.contacto_menu_link:hover{
    color: #ccc378;
}

.contacto_boton_enviar:hover{
    background-color: var(--bluecolor_medio);
    cursor: pointer;
}

.contacto_image_container{
    height: auto;
    display: flex;
    align-items: flex-start;
}

.contacto_image {
	height: 50px;
	margin: 0 20px;
}


@media screen and (max-width: 820px) {
    
    .contacto_container {
        flex-direction: column;
        flex-wrap: wrap;
        height: 317px;
    }

    .contacto_mensaje_container {
        width: 40%;
    }

    .contacto_menu {
        height: 170px;
    }
}

@media screen and (max-width: 470px){

    .contacto_container {
        height: auto;
        flex-wrap: nowrap;
    }

    .contacto_menu {
        align-items: center;
        margin: 20px;
    }

    .contacto_mensaje_container {
        width: 70%;
    }

    .contacto_mensaje_titulo {
        margin: 20px 0 10px 0;
        text-align: center;
    }

    .contacto_boton_enviar {
        width: 100%;
    }
}