
.back {
	width: 85%;
	margin: 0 auto;
    transition: all 300ms;
}

.back__link {
    width: 100px;
	margin-left: 0px;
    margin-top: 20px;
	display: flex;
	text-decoration: none;
    transition: all 300ms;
}

.back__link:hover {
	margin-left: 3px;
}

.back__text{
    font-family: var(--font);
    font-size: 14px;
    margin-left: 5px;
    color: black;
    font-weight: 500;
}

.img__back{
    order: -1;
    height: 16px;
}

